<div class="row">
  <div class="col-sm-8">
    <h1>Please Register.</h1>
    <br>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <form action="<%= users_path %>" method="post" class="form">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <%= simple_form_for @user do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.button :submit %>
      <% end %>
    </form>
  </div>
  <div class="col-sm-2"></div>
</div>
