<h1><%= @dojo.branch  %></h1>
<br>
<br>

<label>Street Address: <%= @dojo.street %> </label>
<br>
<br>
<label>City: <%= @dojo.city %> </label>
<br>
<br>
<label>State: <%= @dojo.state %> </label>
<br>
<br>
<a href="/">Home</a>
<a href="/dojos/<%= @dojo.id %>/edit">Edit</a>
